/* Barra de Información */
/*==============================================================================*/
/*========================== Información del Paciente ==========================*/
/*==============================================================================*/
.rtngl-infoPaciente {
  background: #d9d9d9;
  border-radius: 8px;
  width: 483px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 5px;
}
.icn-crzn {
  width: 12px;
  height: 10px;
  position: absolute;
  left: 23px;
  top: 15px;
  overflow: visible;
}
.nom-infante {
  color: #474547;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: calc(10% - 0px);
  top:  12px;
  width: 274px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.peso-reg {
  color: #474547;
  text-align: right;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: calc(70% - 0px);
  top: 12px;
  width: 106px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/*==============================================================================*/
/*============================= Reloj Tiempo Real ==============================*/
/*==============================================================================*/
.rtngl-rtm {
  background: #d9d9d9;
  border-radius: 8px;
  width: 141px;
  height: 40px;
  position: relative;
  left: 493px;
  top: -35px;
}
.rtm-hrs {
  color: #474547;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: calc(20% - 12px);
  top: 9px;
  width: 112px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*==============================================================================*/
/*======================= Indicadores Modo de Operación ========================*/
/*==============================================================================*/
.ind-modoIncubadora {
  background: #d9d9d9;
  border-radius: 8px 0px 0px 8px;
  width: 178px;
  height: 40px;
  position: relative;
  left: 644px;
  top: -75px;
}
.modo-incubadora {
  color: #474547;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: calc(5% - -2px);
  top: 12px;
  width: 157px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ind-modoCuna {
  background: #eeeeee;
  border-radius: 0px 8px 8px 0px;
  width: 178px;
  height: 40px;
  position: relative;
  left: 822px;
  top: -115px;
}
.modo-cuna {
  color: #d9d9d9;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: calc(10% - 8px);
  top: 12px;
  width: 157px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*==============================================================================*/
/*============================= Titulo de la Vista =============================*/
/*==============================================================================*/
.title-View {
  background: #d9d9d9;
  border-radius: 8px 8px 0px 0px;
  width: 1000px;
  height: 22px;
  position: relative;
}

.ind-sup {
  width: 11px;
  height: 13px;
  position: relative;
  left: 23px;
  top: 5px;
  overflow: hidden;
  aspect-ratio: 11/13;
}
.vector {
  width: 19%;
  height: 71.56%;
  position: absolute;
  right: 0.02%;
  left: 80.97%;
  bottom: 14.23%;
  top: 14.21%;
  overflow: visible;
}
.group {
  width: 77.71%;
  height: 99.99%;
  position: absolute;
  right: 22.29%;
  left: 0.01%;
  bottom: 0.01%;
  top: 0%;
  overflow: visible;
}
.sist-ctrl-piel {
  color: #474547;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  left: calc(50% - 451px);
  top: -10px;
  width: 198px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/*==============================================================================*/
/*============================= Paneles de Sensores ============================*/
/*==============================================================================*/
.panel {
  background: #d9d9d9;
  border-radius: 10px;
  width: 290px;
  height: 104px;
  position: absolute;
}
/* Posición de los paneles */
.t-piel       { left: 53px;   top: 42px; }
.t-prog       { left: 358px;  top: 42px; }
.t-aire       { left: 663px;  top: 42px; }
.t-aux        { left: 53px;   top: 158px; }
.t-colchon    { left: 358px;  top: 158px; }

.title-Sensor {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 5px;
  width: 270px;
  height: 24px;
  position: relative;
  left: 10px;
  top: 8px;
}
.lbl-Sensor {
  color: #333233;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.12em;
  font-weight: 600;
  position: relative;
  left: 18px;
  top: 5px;
  width: 236px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.val-Sensor {
  color: #333233;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 52px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  left: 63px;
  top: 18px;
  width: 128px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.units-Sensor {
  color: #333233;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  left: 188px;
  top: -26px;
  width: 30px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tem-colTerm {
  color: #474547;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  left: 10px;
  top: 24px;
  width: 112px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.units-colTerm {
  color: #474547;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  left: 116px;
  top: -6px;
  width: 30px;
  height: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.line-div {
  margin-top: -2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.55);
  border-width: 2px 0 0 0;
  width: 49px;
  height: 0px;
  position: relative;
  left: 148px;
  top: -25px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}

.tem-progCol {
  color: #474547;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  left: 175px;
  top: -21px;
  width: 66px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.units-t-ProgcolTerm {
  color: #474547;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  position: absolute;
  left: 245px;
  top: 52px;
  width: 18px;
  height: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.t-progCol {
  color: #474547;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 9px;
  line-height: 7px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  left: 148px;
  top: 80px;
  width: 140px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*==============================================================================*/
/*============================= Paneles Secundarios ============================*/
/*==============================================================================*/
.panel-sec {
  background: #d9d9d9;
  border-radius: 8px;
  width: 180px;
  height: 74px;
  position: absolute;
}
/* Posiciones */
.snsOx      { left: 31px;   top: 285px; }
.snsHum     { left: 221px;  top: 285px; }
.satOx      { left: 411px;  top: 285px; }
.freccCard  { left: 601px;  top: 285px; }
.foto       { left: 791px;  top: 285px; }

.title-sns2 {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 3px;
  width: 162px;
  height: 16px;
  position: relative;
  left: 9px;
  top: 6px;
}
.lbl-sns2 {
  color: #333233;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: relative;
  left: -1px;
  top: 2px;
  width: 163px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.val-sns2 {
  color: #474547;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  left: 45px;
  top: 14px;
  width: 84px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.units-sns2 {
  color: #474547;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  left: 115px;
  top: -2px;
  width: 23px;
  height: 14px;
}

.val-sns3 {
  color: #474547;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  left: 10px;
  top: -10px;
  width: 37px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.units-sns3 {
  color: #474547;
  text-align: right;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  left: 136px;
  top: -24px;
  width: 34px;
  height: 14px;
}
.val-sns4 {
  color: #474547;
  text-align: right;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  left: 142px;
  top: -23px;
  width: 28px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/*==============================================================================*/
/*============================== Botones Inferiores ============================*/
/*==============================================================================*/
.btns-Footer{
  position: absolute;
  inset: 0;
}
.btn-fam {
  border-radius: 10px;
  width: 130px;
  height: 50px;
  position: absolute;
  overflow: visible;
}
.btns-inf {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 30px;
  position: absolute;
}
.btn-fam    { left: 41px;   top: 10px; }
.ajst-Temp  { left: 238px;  top: 10px; }
.modulos    { left: 422px;  top: 10px; }
.tendencias { left: 606px;  top: 10px; }

.lbl-btnsInf {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 121.53%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
