.pantalla-base,
.pantalla-base * {
  box-sizing: border-box;
}

.pantalla-base {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  width: 1024px;
  height: 600px;
  min-width: 1024px;
  max-width: 1024px;
  min-height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
}
.header {
  background: var(--neutral-gris, #e6e7e6);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 988px;
  height: 80px;
  position: absolute;
  left: 18px;
  top: 16px;
}

.button{
  border: none;
}
.btn-fototerapia {
  background: var(--azul-primario, #0c87f2);
  border-color: #1ba0f2;
  border-radius: 15px 0px 0px 15px;
  padding: 5px 78px 5px 78px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  height: 60px;
  position: relative;
}
.icon-fototerapia {
  flex-shrink: 0;
  width: 43px;
  height: 50px;
  position: relative;
  overflow: visible;
}
.buttontemp{
  background: var(--azul-secundario, #0266be);
  border-color: #0266be;
  padding: 11px 80px 11px 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  height: 60px;
  position: relative;
  border-radius: 0%;
}

.icon-temperatura {
  flex-shrink: 0;
  width: 40.21px;
  height: 38px;
  position: relative;
}
.group-4 {
  height: auto;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.btn-tendencias {
  background: var(--azul-primario, #0c87f2);
  border-color: #0c87f2;
  border-radius: 0px 15px 15px 0px;
  padding: 10px 80px 10px 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  height: 60px;
  position: relative;
}
.icon-tendencias {
  flex-shrink: 0;
  width: 38.74px;
  height: 38.6px;
  position: relative;
}
.group-5 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.background-aside {
  background: var(--neutral-gris, #e6e7e6);
  border-radius: 15px;
  width: 379px;
  height: 376px;
  position: absolute;
  left: 18px;
  top: 112px;
}
.aside-calecator {
  background: var(--texto-blanco, #ffffff);
  border-radius: 15px;
  padding: 20px 33px 20px 33px;
  width: 312px;
  height: 300px;
  position: absolute;
  left: 52px;
  top: 150px;
  overflow: hidden;
}
.btns-porcentaje {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 33px;
  top: 204.67px;
}
.btn-aumentar {
  background: var(--azul-btn, #1ba0f2);
  border-color: #1ba0f2;
  border-radius: 15px;
  padding: 5px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  position: relative;
}
.div {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 54px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.btn-disminuir {
  background: var(--azul-btn, #1ba0f2);
  border-color: #1ba0f2;
  border-radius: 15px;
  padding: 5px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  position: relative;
}
.btn-aceptar {
  background: var(--azul-btn, #1ba0f2);
  border-color: #1ba0f2;
  border-radius: 15px;
  padding: 5px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  position: relative;
}
.div2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.btn-calefactor {
  background: var(--azul-btn, #1ba0f2);
  border-color: #1ba0f2;
  border-radius: 15px;
  padding: 10px;
  width: 246px;
  height: 60px;
  position: absolute;
  left: 33px;
  top: 20px;
}
.calefactor {
  color: var(--texto-blanco, #ffffff);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 23px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 45.5px;
  top: 20px;
}
.porcentaje-calef {
  background: var(--azul-ligth, #def1fd);
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 90px;
  position: absolute;
  left: 33px;
  top: 97px;
}
._100 {
  color: var(--texto-prin, #333233);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 66px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}
.div3 {
  padding: 10px 0px 10px 10px;
  width: 73px;
  height: 51px;
  position: absolute;
  left: 206px;
  top: 115.67px;
}
.div4 {
  color: var(--texto-prin, #333233);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 16px;
  width: 73px;
  height: 20px;
}
.background-article {
  background: var(--neutral-gris, #e6e7e6);
  border-radius: 15px;
  width: 593px;
  height: 376px;
  position: absolute;
  left: 413px;
  top: 112px;
}
.btns-sensores {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  position: absolute;
  left: 774px;
  top: 150px;
}
.btn-sensor-1 {
  background: var(--azul-btn, #1ba0f2);
  border-color: #1ba0f2;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 60px;
  position: relative;
}
.sth-21 {
  color: var(--texto-blanco, #ffffff);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}
.btn-sensor-2 {
  background: var(--azul-btn, #1ba0f2);
  border-color: #1ba0f2;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 60px;
  position: relative;
}
.bme-280 {
  color: var(--texto-blanco, #ffffff);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}
.btn-sensor-3 {
  background: var(--texto-blanco, #ffffff);
  border-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 60px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.hx-711 {
  color: var(--azul-btn, #1ba0f2);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}
.btn-sensor-4 {
  background: var(--azul-btn, #1ba0f2);
  border-color: #1ba0f2;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 60px;
  position: relative;
}
.hw-504 {
  color: var(--texto-blanco, #ffffff);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}
.section {
  background: #ffffff;
  border-radius: 15px;
  padding: 22px 34px 22px 34px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 309px;
  height: 300px;
  position: absolute;
  left: 444px;
  top: 150px;
}
.text-temperatura {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 230px;
  position: relative;
}
._36-4-c {
  color: #333233;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 55px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.temp-roja {
    color: red !important;
    font-weight: bold;
}
._36-4-c-span {
  font-family: var(--text-valor-font-family, "Inter-Bold", sans-serif);
  font-size: var(--text-valor-font-size, 55px);
  line-height: var(--text-valor-line-height, 20px);
  font-weight: var(--text-valor-font-weight, 700);
}
._36-4-c-span2 {
  font-family: var(--text-valor-var-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-valor-var-font-size, 55px);
  line-height: var(--text-valor-var-line-height, 20px);
  font-weight: var(--text-valor-var-font-weight, 400);
}
.temperatura {
  color: #6c696c;
  text-align: left;
  font-family: var(--text-label-font-family, "Inter-Bold", sans-serif);
  font-size: var(--text-label-font-size, 24px);
  line-height: var(--text-label-line-height, 24px);
  font-weight: var(--text-label-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.text-temperatura-program {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._37-0-c {
  color: #333233;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 55px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._37-0-c-span {
  font-family: var(--text-valor-font-family, "Inter-Bold", sans-serif);
  font-size: var(--text-valor-font-size, 55px);
  line-height: var(--text-valor-line-height, 20px);
  font-weight: var(--text-valor-font-weight, 700);
}
._37-0-c-span2 {
  font-family: var(--text-valor-var-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-valor-var-font-size, 55px);
  line-height: var(--text-valor-var-line-height, 20px);
  font-weight: var(--text-valor-var-font-weight, 400);
}
.temperatura-programada {
  color: #6c696c;
  text-align: left;
  font-family: var(--text-label-font-family, "Inter-Bold", sans-serif);
  font-size: var(--text-label-font-size, 24px);
  line-height: var(--text-label-line-height, 24px);
  font-weight: var(--text-label-font-weight, 700);
  position: relative;
  align-self: stretch;
  height: 63px;
}
.footer {
  background: var(--alarma-ama, #f2a013);
  border-radius: 20px 20px 0px 0px;
  padding: 32px 461px 32px 461px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 988px;
  height: 80px;
  position: absolute;
  left: 18px;
  top: 504px;
}
.frame-1 {
  background: #f2a013;
  border-radius: 53px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 12px;
  padding: 30px 28px 30px 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 106px;
  height: 106px;
  position: absolute;
  left: 441px;
  top: -53px;
}
.icon-alarma {
  flex-shrink: 0;
  width: 49.39px;
  height: 45.01px;
  position: relative;
  overflow: visible;
}
.parpadeo {
    animation: parpadeo 1s infinite;
}
@keyframes parpadeo {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}