.pantalla-versi-n-12-03,
.pantalla-versi-n-12-03 * {
  box-sizing: border-box;
}
.pantalla-versi-n-12-03 {
  background: #f0f1f3;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.btn-alarma {
  background: #f8f9fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 984px;
  height: 64px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 20px;
}
.icon-alarma {
  flex-shrink: 0;
  width: 48px;
  height: 44px;
  position: relative;
  overflow: visible;
}
.btns-modo-control {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 62px;
  position: absolute;
  left: 20px;
  top: 94px;
}
.btn-incubadora {
  border-radius: 41px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  height: 42px;
  position: relative;
  overflow: visible;
}
.btn-cuna {
  border-radius: 38px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  height: 42px;
  position: relative;
  overflow: visible;
}
.encabezado {
  background: #f8f9fb;
  border-radius: 6px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 61px;
  align-items: center;
  justify-content: center;
  width: 524px;
  height: 30px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 94px;
}
.info-paciente {
  flex-shrink: 0;
  width: 245px;
  height: 16px;
  position: relative;
}
.icon-corazon {
  width: 12px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 3px;
  overflow: visible;
}
.nombre-del-infante {
  color: #2f3a40;
  text-align: left;
  font-family: var(--textos-info-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--textos-info-font-size, 14px);
  font-weight: var(--textos-info-font-weight, 700);
  position: absolute;
  left: 19px;
  top: 0px;
  width: 226px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ltimo-pesaje-780-g {
  color: #2f3a40;
  text-align: right;
  font-family: var(--textos-info-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--textos-info-font-size, 14px);
  font-weight: var(--textos-info-font-weight, 700);
  position: relative;
  width: 160px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.fecha-hora {
  background: #f8f9fb;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 30px;
  position: absolute;
  left: 784px;
  top: 94px;
}
.vector {
  flex-shrink: 0;
  width: 19px;
  height: 20px;
  position: relative;
  overflow: visible;
  aspect-ratio: 19/20;
}
._2-de-feb {
  color: #2f3a40;
  text-align: center;
  font-family: var(--textos-info-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--textos-info-font-size, 14px);
  font-weight: var(--textos-info-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-hora {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
._5-41-h {
  color: #2f3a40;
  text-align: center;
  font-family: var(--textos-info-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--textos-info-font-size, 14px);
  font-weight: var(--textos-info-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modo-activo {
  background: #f8f9fb;
  border-radius: 4px;
  padding: 10px 10px 10px 26px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  width: 754px;
  height: 22px;
  position: absolute;
  left: 250px;
  top: 134px;
}
.icon-m-piel {
  flex-shrink: 0;
  width: 10px;
  height: 15px;
  position: relative;
  overflow: visible;
  aspect-ratio: 10/15;
}
.sistema-controlado-por-piel {
  color: #2f3a40;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel-de-temperatura {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 984px;
  position: absolute;
  left: 20px;
  top: 166px;
}
.temperaturas-medidas {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 240px;
  position: relative;
}
.temperatura-medida-piel {
  background: #8cced0;
  border-radius: 10px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 492px;
  height: 120px;
  position: relative;
}
.icon-m-piel2 {
  flex-shrink: 0;
  width: 68px;
  height: 64px;
  position: relative;
  overflow: visible;
  aspect-ratio: 68/64;
}
.despliegue-t-piel {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 156px;
  position: relative;
}
.temperatura-piel {
  color: #2f3a40;
  text-align: left;
  font-family: var(--texto-botones-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--texto-botones-font-size, 16px);
  line-height: var(--texto-botones-line-height, 16px);
  font-weight: var(--texto-botones-font-weight, 700);
  position: relative;
  align-self: stretch;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._36-4 {
  color: #2f3a40;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 56px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  width: 133px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.c {
  color: #2f3a40;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  width: 28px;
  height: 44px;
}
.temperatura-programada {
  background: #8cced0;
  border-radius: 0px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 492px;
  height: 120px;
  position: relative;
}
.icon-temperatura {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-temperatura2 {
  flex-shrink: 0;
  width: 21px;
  height: 43px;
  position: relative;
  overflow: visible;
  aspect-ratio: 21/43;
}
.despliegue-t-programada {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 161px;
  position: relative;
}
.temp-programada {
  color: #236e72;
  text-align: left;
  font-family: var(--texto-botones-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--texto-botones-font-size, 16px);
  line-height: var(--texto-botones-line-height, 16px);
  font-weight: var(--texto-botones-font-weight, 700);
  position: relative;
  width: 161px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._36-5 {
  color: #236e72;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 56px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  width: 133px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.c2 {
  color: #236e72;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  width: 28px;
  height: 44px;
}
.temperatura-auxiliar {
  background: #a6dcef;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 492px;
  height: 120px;
  position: relative;
}
.icon-m-piel3 {
  flex-shrink: 0;
  width: 45px;
  height: 43px;
  position: relative;
  overflow: visible;
  aspect-ratio: 45/43;
}
.despliegue-t-auxiliar {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 176px;
  position: relative;
}
.temperatura-auxiliar2 {
  color: #597781;
  text-align: left;
  font-family: var(--texto-botones-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--texto-botones-font-size, 16px);
  line-height: var(--texto-botones-line-height, 16px);
  font-weight: var(--texto-botones-font-weight, 700);
  position: relative;
  align-self: stretch;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._35-2 {
  color: #597781;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 56px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  width: 133px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.c3 {
  color: #597781;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  width: 28px;
  height: 44px;
}
.temperatura-aire {
  background: #cfedee;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 492px;
  height: 120px;
  position: relative;
}
.icon-m-aire {
  flex-shrink: 0;
  width: 43px;
  height: 43px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.group {
  width: 99.97%;
  height: 99.99%;
  position: absolute;
  right: 0.03%;
  left: 0%;
  bottom: 0.01%;
  top: 0.01%;
  overflow: visible;
}
.vector2 {
  width: 16.28%;
  height: 15.94%;
  position: absolute;
  right: 41.85%;
  left: 41.87%;
  bottom: 42.02%;
  top: 42.04%;
  overflow: visible;
}
.despliegue-t-aire {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 161px;
  position: relative;
}
.temperatura-aire2 {
  color: #4fafb3;
  text-align: left;
  font-family: var(--texto-botones-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--texto-botones-font-size, 16px);
  line-height: var(--texto-botones-line-height, 16px);
  font-weight: var(--texto-botones-font-weight, 700);
  position: relative;
  width: 161px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._36-52 {
  color: #4fafb3;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 56px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  width: 133px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.c4 {
  color: #4fafb3;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  width: 28px;
  height: 44px;
}
.modulos {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.modulo-oxigeno {
  background: #f5f7f7;
  border-radius: 0px 0px 0px 10px;
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 328px;
  height: 84px;
  position: relative;
}
.oxigeno {
  border-radius: 4px;
  padding: 2px 7px 2px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 284px;
  height: 18px;
  position: relative;
}
.ox-geno {
  color: #6b7a88;
  text-align: center;
  font-family: var(
    --textos-modulos-bold-font-family,
    "Montserrat-Bold",
    sans-serif
  );
  font-size: var(--textos-modulos-bold-font-size, 14px);
  font-weight: var(--textos-modulos-bold-font-weight, 700);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.oxigeno2 {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 234px;
  height: 38px;
  position: relative;
}
.medida-oxigeno {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 88px;
  position: relative;
}
._80 {
  color: #2f3a40;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  width: 72px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  color: #6b7a88;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  width: 14px;
  height: 20px;
}
.line-24 {
  margin-top: -2px;
  border-style: solid;
  border-color: #6b7a88;
  border-width: 2px 0 0 0;
  flex-shrink: 0;
  width: 24px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.temp-progra {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 76px;
  position: relative;
}
.program-oxigeno {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._100 {
  color: #2f3a40;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  width: 48px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2 {
  color: #6b7a88;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  width: 9px;
  height: 14px;
}
.programado {
  color: #6b7a88;
  text-align: center;
  font-family: var(
    --textos-peque-modulos-font-family,
    "Montserrat-Medium",
    sans-serif
  );
  font-size: var(--textos-peque-modulos-font-size, 10px);
  line-height: var(--textos-peque-modulos-line-height, 20px);
  font-weight: var(--textos-peque-modulos-font-weight, 500);
  position: relative;
  align-self: stretch;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modulo-humedad {
  background: #e6ecee;
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 328px;
  height: 84px;
  position: relative;
}
.humedad {
  border-radius: 4px;
  padding: 2px 7px 2px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 284px;
  height: 18px;
  position: relative;
}
.humedad2 {
  color: #6b7a88;
  text-align: center;
  font-family: var(
    --textos-modulos-bold-font-family,
    "Montserrat-Bold",
    sans-serif
  );
  font-size: var(--textos-modulos-bold-font-size, 14px);
  font-weight: var(--textos-modulos-bold-font-weight, 700);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.m-humedad {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 234px;
  height: 38px;
  position: relative;
}
.programada {
  color: #6b7a88;
  text-align: center;
  font-family: var(
    --textos-peque-modulos-font-family,
    "Montserrat-Medium",
    sans-serif
  );
  font-size: var(--textos-peque-modulos-font-size, 10px);
  line-height: var(--textos-peque-modulos-line-height, 20px);
  font-weight: var(--textos-peque-modulos-font-weight, 500);
  position: relative;
  align-self: stretch;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modulo-fototerapia {
  background: #f5f7f7;
  border-radius: 0px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 28px;
  row-gap: 7px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-shrink: 0;
  width: 328px;
  height: 84px;
  position: relative;
}
.fototerapia {
  border-radius: 4px;
  padding: 2px 7px 2px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 284px;
  height: 18px;
  position: relative;
}
.fototerapia2 {
  color: #6b7a88;
  text-align: center;
  font-family: var(
    --textos-modulos-bold-font-family,
    "Montserrat-Bold",
    sans-serif
  );
  font-size: var(--textos-modulos-bold-font-size, 14px);
  font-weight: var(--textos-modulos-bold-font-weight, 700);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.foterapia-medida {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 107px;
  position: relative;
}
._00-00 {
  color: #3f4a4b;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fototerapia-progra {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 91px;
  position: relative;
}
._00-002 {
  color: #2f3a40;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  width: 81px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns-principal {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 62px;
  display: flex;
  flex-direction: row;
  gap: 77px;
  align-items: center;
  justify-content: center;
  width: 984px;
  height: 70px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 20px;
}
.icon-familiar {
  background: #f8f8fa;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 50px;
  position: relative;
  box-shadow: inset 2px 2px 4px 0px rgba(255, 255, 255, 1),
    inset -2px -2px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-familiar2 {
  flex-shrink: 0;
  width: 38px;
  height: 27px;
  position: relative;
  overflow: hidden;
}
.group2 {
  width: 100%;
  height: 100.01%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: -0.01%;
  overflow: visible;
}
.vector3 {
  width: 15.25%;
  height: 21.24%;
  position: absolute;
  right: 42.26%;
  left: 42.5%;
  bottom: 14.06%;
  top: 64.71%;
  overflow: visible;
}
.btns-principales {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-ajuste-temp {
  background: #f8f8fa;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 50px;
  position: relative;
  box-shadow: inset 2px 2px 4px 0px rgba(255, 255, 255, 1),
    inset -2px -2px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-ajuste-temp2 {
  flex-shrink: 0;
  width: 22.84px;
  height: 28px;
  position: relative;
  overflow: visible;
  aspect-ratio: 22.84/28;
}
.icon-control {
  background: #f8f8fa;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 50px;
  position: relative;
  box-shadow: inset 2px 2px 4px 0px rgba(255, 255, 255, 1),
    inset -2px -2px 4px 0px rgba(0, 0, 0, 0.25);
}
.icon-control2 {
  flex-shrink: 0;
  width: 56px;
  height: 28px;
  position: relative;
  overflow: visible;
  aspect-ratio: 2/1;
}
.icon-tendencias {
  background: #f8f8fa;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 58px;
  position: relative;
  box-shadow: inset 2px 2px 4px 0px rgba(255, 255, 255, 1),
    inset -2px -2px 4px 0px rgba(0, 0, 0, 0.25);
}
.icon-tendencias2 {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.btns-bascula-apgar {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.btn-bascula {
  background: #f8f8fa;
  border-radius: 44px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 76px;
  height: 50px;
  position: relative;
  box-shadow: inset 2px 2px 4px 0px rgba(255, 255, 255, 1),
    inset -2px -2px 4px 0px rgba(0, 0, 0, 0.25);
}
.icon-bascula {
  flex-shrink: 0;
  width: 29px;
  height: 28px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 29/28;
}
.vector4 {
  width: 31.68%;
  height: 55%;
  position: absolute;
  right: -0.02%;
  left: 68.34%;
  bottom: 44.98%;
  top: 0.02%;
  overflow: visible;
}
.vector5 {
  width: 14.09%;
  height: 22.26%;
  position: absolute;
  right: 8.8%;
  left: 77.1%;
  bottom: 54.5%;
  top: 23.24%;
  overflow: visible;
}
.group3 {
  width: 61.22%;
  height: 99.96%;
  position: absolute;
  right: 38.76%;
  left: 0.01%;
  bottom: 0.04%;
  top: 0%;
  overflow: visible;
}
.icon-apgar {
  background: #f8f8fa;
  border-radius: 44px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 76px;
  height: 50px;
  position: relative;
  box-shadow: inset 2px 2px 4px 0px rgba(255, 255, 255, 1),
    inset -2px -2px 4px 0px rgba(0, 0, 0, 0.25);
}
.icon-apgar2 {
  flex-shrink: 0;
  width: 23px;
  height: 26.88px;
  position: relative;
  overflow: visible;
  aspect-ratio: 23/26.88;
}
.line-25 {
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 4px 0 0 0;
  width: 65px;
  height: 0px;
  position: absolute;
  left: calc(50% - 2px);
  top: 193px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
