/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --textencabezado-font-family: Montserrat-Bold, sans-serif;
  --textencabezado-font-size: 14px;
  --textencabezado-line-height: normal;
  --textencabezado-font-weight: 700;
  --textencabezado-font-style: normal;

  --numtempprin-font-family: Inter-Bold, sans-serif;
  --numtempprin-font-size: 100px;
  --numtempprin-line-height: 80px;
  --numtempprin-font-weight: 700;
  --numtempprin-font-style: normal;

  --numtempsecun-font-family: Inter-Bold, sans-serif;
  --numtempsecun-font-size: 36px;
  --numtempsecun-line-height: 36px;
  --numtempsecun-font-weight: 700;
  --numtempsecun-font-style: normal;

  --texttemptitulo-font-family: Montserrat-Bold, sans-serif;
  --texttemptitulo-font-size: 18px;
  --texttemptitulo-line-height: 16px;
  --texttemptitulo-font-weight: 700;
  --texttemptitulo-font-style: normal;

  --texttempsecun-font-family: Montserrat-Medium, sans-serif;
  --texttempsecun-font-size: 14px;
  --texttempsecun-line-height: 16px;
  --texttempsecun-font-weight: 500;
  --texttempsecun-font-style: normal;

  --textmodutitulo-font-family: Montserrat-Bold, sans-serif;
  --textmodutitulo-font-size: 15px;
  --textmodutitulo-line-height: 16px;
  --textmodutitulo-font-weight: 700;
  --textmodutitulo-font-style: normal;

  --texttemptercer-font-family: Montserrat-Medium, sans-serif;
  --texttemptercer-font-size: 10px;
  --texttemptercer-line-height: 20px;
  --texttemptercer-font-weight: 500;
  --texttemptercer-font-style: normal;

  --nummodulat-font-family: Inter-Bold, sans-serif;
  --nummodulat-font-size: 40px;
  --nummodulat-line-height: 36px;
  --nummodulat-font-weight: 700;
  --nummodulat-font-style: normal;

  --numtempmodif-font-family: Inter-Bold, sans-serif;
  --numtempmodif-font-size: 48px;
  --numtempmodif-line-height: 36px;
  --numtempmodif-font-weight: 700;
  --numtempmodif-font-style: normal;

  --texttitulobtnspop-font-family: Montserrat-Bold, sans-serif;
  --texttitulobtnspop-font-size: 24px;
  --texttitulobtnspop-line-height: 16px;
  --texttitulobtnspop-font-weight: 700;
  --texttitulobtnspop-font-style: normal;

  --numapgar-font-family: Inter-Bold, sans-serif;
  --numapgar-font-size: 68px;
  --numapgar-line-height: 64px;
  --numapgar-font-weight: 700;
  --numapgar-font-style: normal;

  --numgrafapgar-font-family: Inter-Bold, sans-serif;
  --numgrafapgar-font-size: 16px;
  --numgrafapgar-line-height: 16px;
  --numgrafapgar-font-weight: 700;
  --numgrafapgar-font-style: normal;

  --textbtnsestandar-font-family: Montserrat-Bold, sans-serif;
  --textbtnsestandar-font-size: 15px;
  --textbtnsestandar-font-weight: 700;

  --textindicaciones-font-family: Montserrat-SemiBold, sans-serif;
  --textindicaciones-font-size: 13px;
  --textindicaciones-line-height: 15px;
  --textindicaciones-font-weight: 600;

  --numcontbas-font-family: Inter-Bold, sans-serif;
  --numcontbas-font-size: 72px;
  --numcontbas-line-height: 64px;
  --numcontbas-font-weight: 700;
  /* Effects */
}
/* Figma Color Variables of your File */
:root,
[data-coleccion-variable-mode="mode-1"] {
  /* mode-1 */
  --colorblanco:        #ffffff;
  
  --colortextactivo:    #2f3a40;
  --colortextoinactivo: #72818e;
  --colortexttpiel:     #6f423d;
  --colortexttaire:     #2f4a4d;
  
  --colorfondo:         #e9eef2;
  --colorfondoinactivo: #f2f2f2;
  --colorfondopiel:     #f5cfc3;
  --colorfondoaire:     #bee1e5;
  --colorfondooxigeno:  #c6e1b8;
  --colorfondofot:      #c2d2ec;
  --colorfondohum:      #bfd9e8;
  
  --coloroscuropiel:    #d9a79d;
  --coloroscuroaire:    #8fc3c9;
  --coloroscurooxigeno: #86ad79;
  --coloroscurofot:     #5f82b8;
  --coloroscurohum:     #5f97b1;

  --colorclaropiel:     #fae7e1;

  --colorverdebtn:      #92d1bc;
  --colorgrisbtn:       #8a8e91;
  --colorclarobtn:      #f8f8fa;
  --colorfondobtns:     #d8dee2;
  --colorbtnsnuevos:    #d9d9d9;

  --colormoddesacti:    #f5f7f7;
}
