<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/home/vars.css">
  <link rel="stylesheet" href="../static/css/home/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Home</title>
</head>
<body>
  <div class="pantalla-principal-modo-piel-versi-n-completa">
    <div class="pant-principal-piel">
      <div class="group-11">
        <div class="btn-alarma">
          <img class="icon-alarma" src="../static/icon/home/icon-alarma0.svg" />
        </div>
        <div class="btns-modo-control">
          <img class="btn-incubadora" src="../static/icon/home/btn-incubadora0.svg" />
          <img class="btn-cuna" src="../static/icon/home/btn-cuna0.svg" />
        </div>
        <div class="encabezado">
          <div class="info-paciente">
            <img class="icon-corazon" src="../static/icon/home/icon-corazon0.svg" />
            <div class="nombre-del-beb">Nombre del bebé</div>
          </div>
          <div class="ltimo-pesaje-0-785-kg">Último pesaje: 0.785 kg</div>
        </div>
        <div class="fecha-hora">
          <img class="vector" src="../static/icon/home/vector0.svg" />
          <div class="_2-de-feb">2 de Feb</div>
          <img class="icon-hora" src="../static/icon/home/icon-hora0.svg" />
          <div class="_5-41-a-m">5:41 a.m.</div>
        </div>
        <div class="modo-activo">
          <img class="icon-m-piel" src="../static/icon/home/icon-m-piel0.svg" />
          <div class="sistema-controlado-por-piel">
            Sistema Controlado por Piel
          </div>
        </div>
        <div class="inclinaci-n-bacinete">
          <img class="icon-inclinaci-n" src="../static/icon/home/icon-inclinaci-n0.svg" />
          <div class="inclinaci-n">Inclinación</div>
          <div class="_00">
            <span>
              <span class="_00-span">00</span>
              <span class="_00-span2">°</span>
            </span>
          </div>
        </div>
      </div>
      <div class="temperaturas">
        <div class="potencia-calefactura">
          <div class="segmentos-calefactor">
            <div class="rectangle-192"></div>
            <div class="rectangle-191"></div>
            <div class="rectangle-183"></div>
            <div class="rectangle-184"></div>
            <div class="rectangle-185"></div>
            <div class="rectangle-186"></div>
            <div class="rectangle-187"></div>
            <div class="rectangle-188"></div>
            <div class="rectangle-189"></div>
            <div class="rectangle-190"></div>
          </div>
          <div class="potencia-calefactor">
            <div class="_80">80</div>
          </div>
          <div class="div">%</div>
        </div>
        <div class="temperatura-m-piel">
          <div class="temperatura-piel">Temperatura Piel</div>
          <div class="frame-46">
            <div class="icon-m-piel2">
              <img class="vector2" src="../static/icon/home/vector1.svg" />
              <img class="vector3" src="../static/icon/home/vector2.svg" />
              <img class="vector4" src="../static/icon/home/vector3.svg" />
              <img class="vector5" src="../static/icon/home/vector4.svg" />
              <img class="group-5" src="../static/icon/home/group-50.svg" />
            </div>
            <div class="temp-prin-medida">
              <div class="_36-5">36.5</div>
              <div class="c">°C</div>
            </div>
            <div class="line-27"></div>
            <div class="temp-prin-program">
              <div class="temp-progra">
                <div class="_36-7">36.7</div>
              </div>
              <div class="programada">Programada</div>
            </div>
          </div>
        </div>
        <div class="temperatura-m-aire">
          <div class="temperatura-aire">Temperatura Aire</div>
          <div class="cont-temp-aire">
            <div class="icon-aire">
              <div class="icon-m-aire">
                <img class="group" src="../static/icon/home/group0.svg" />
                <img class="vector6" src="../static/icon/home/vector5.svg" />
              </div>
            </div>
            <div class="valor-t-aire">
              <div class="_36-1">36.1</div>
              <div class="c2">°C</div>
            </div>
          </div>
        </div>
        <div class="temperatura-auxiliar">
          <div class="temperatura-auxiliar2">Temperatura Auxiliar</div>
          <div class="temp-colchon">
            <div class="_36-3">36.3</div>
            <div class="c3">°C</div>
          </div>
          <div class="icon-aire2">
            <img class="icon-m-piel3" src="../static/icon/home/icon-m-piel2.svg" />
          </div>
        </div>
        <div class="temperatura-colchon-termico">
          <div class="colch-n-termico">Colchón Termico</div>
          <div class="temp-colchon">
            <div class="_36-0">36.0</div>
            <div class="c4">°C</div>
          </div>
          <img class="line-5" src="../static/icon/home/line-50.svg" />
          <div class="t-programada-colchon">
            <div class="t-progra-col">
              <div class="_36-02">36.0</div>
            </div>
            <div class="programada2">Programada</div>
          </div>
        </div>
      </div>
      <div class="modulos">
        <div class="modulo-oxigeno">
          <div class="oxigeno">
            <div class="ox-geno">
              <span>
                <span class="ox-geno-span">Oxíg</span>
                <span class="ox-geno-span2">e</span>
                <span class="ox-geno-span">no %</span>
              </span>
            </div>
          </div>
          <div class="valores-oxigeno">
            <div class="medida-oxigeno">
              <div class="_22">22</div>
            </div>
            <img class="line-8" src="../static/icon/home/line-80.svg" />
            <div class="group-2">
              <div class="programado">Programado</div>
              <div class="program-oxigeno">
                <div class="_90">90</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modulo-humedad">
          <div class="humedad">
            <div class="humedad2">Humedad %</div>
          </div>
          <div class="valores-humedad">
            <div class="medida-humedad">
              <div class="_70">70</div>
            </div>
            <img class="line-82" src="../static/icon/home/line-81.svg" />
            <div class="group-22">
              <div class="programada3">Programada</div>
              <div class="program-oxigeno2">
                <div class="_802">80</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modulo-fototerapia">
          <div class="fototerapia">
            <div class="fototerapia-h">Fototerapia h</div>
          </div>
          <div class="medida-fototerapia">
            <div class="_00-00">00:00</div>
          </div>
          <div class="medici-n">
            <div class="hh">hh</div>
            <div class="div2">:</div>
            <div class="mm">mm</div>
          </div>
        </div>
        <div class="modulo-sp-o-2">
          <div class="sat-oxigeno">
            <div class="sp-o">SpO₂ %</div>
          </div>
          <div class="medida-sat-oxi">
            <div class="_22">22</div>
          </div>
          <div class="rango-de-alarmas">
            <div class="_99">99</div>
            <div class="_902">90</div>
          </div>
        </div>
        <div class="modulo-sp-o-22">
          <div class="oxigeno2">
            <div class="frecuencia-card-aca-bpm">Frecuencia Cardíaca bpm</div>
          </div>
          <div class="medida-humedad2">
            <div class="_129">129</div>
          </div>
          <div class="rango-de-alarmas-oxi">
            <div class="_200">200</div>
            <div class="_902">90</div>
          </div>
          <div class="nivel">
            <div class="rectangle-118"></div>
            <div class="rectangle-119"></div>
            <div class="rectangle-120"></div>
          </div>
        </div>
      </div>
      <div class="menu-principal">
        <div class="btn-m-familiar">
          <div class="icon-familiar">
            <img class="group2" src="../static/icon/home/group1.svg" />
            <img class="vector7" src="../static/icon/home/vector6.svg" />
          </div>
        </div>
        <div class="btns-principales">
          <div id="btn-ajuste-temp" class="btn-ajuste-temp">
            <img class="icon-ajuste-temp" src="../static/icon/home/icon-ajuste-temp0.svg" />
          </div>
          <div id="btn-modulos-y-ajustes" class="btn-modulos-y-ajustes">
            <img class="icon-control" src="../static/icon/home/icon-control0.svg" />
          </div>
          <div class="icon-tendencias">
            <img class="icon-tendencias2" src="../static/icon/home/icon-tendencias1.svg" />
          </div>
        </div>
        <div class="btns-bascula-apgar">
          <div class="btn-bascula">
            <div class="icon-bascula">
              <img class="vector8" src="../static/icon/home/vector7.svg" />
              <img class="vector9" src="../static/icon/home/vector8.svg" />
              <img class="group3" src="../static/icon/home/group2.svg" />
            </div>
          </div>
          <div class="icon-apgar">
            <img class="icon-apgar2" src="../static/icon/home/icon-apgar1.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const btnAjusteTemp = document.getElementById("btn-ajuste-temp");
    const btnModulosYAjustes = document.getElementById("btn-modulos-y-ajustes");

    if (btnAjusteTemp) {
      btnAjusteTemp.addEventListener("click", () => {
        console.log("Se hizo click en btn-ajuste-temp");
        window.location.replace("/AjTemp")
      });
    }

    if (btnModulosYAjustes) {
      btnModulosYAjustes.addEventListener("click", () => {
        console.log("Se hizo click en btn-modulos-y-ajustes");
        window.location.replace("/Modulos")
      });
    }
  </script>
</body>
</html>