<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/vars.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/PantPrin-style.css') }}">
    </head>

    <body>
        <div id="stage">
            <div class="pant-shell">
                <div class="frm-Alarma">
                    <div class="lbl-alarma">ALARMA</div>
                </div>



                <div id="view">
                    {% include "Home.html" %}
                </div>



                <div class="frm-Footer">
                    <!-- <div id="footer-slot"></div> -->
                    <img id="btn-fam" class="btn-fam" src="{{ url_for('static', filename='icon/btn-fam0.svg') }}" />

                    <div class="btns-inf ajst-Temp">
                        <div class="lbl-btnsInf">Ajuste Temp</div>
                    </div>
                    
                    <div class="btns-inf modulos">
                        <div class="lbl-btnsInf">Modulos</div>
                    </div>
                    
                    <div class="btns-inf tendencias">
                        <div class="lbl-btnsInf">Tendencias</div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>