<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/vars.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div id="stage">
            <div class="pant-shell">
                <div class="frm-Alarma">
                    <div class="alarma">ALARMA</div>
                </div>

                <div id="view">
                    {% include "PantPrin.html" %}
                </div>

                <div class="frm-Footer">
                    
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>