<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/modulos/vars.css">
  <link rel="stylesheet" href="../static/css/modulos/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Modulos</title>
</head>
<body>
  <div class="pantalla-modulos">
    <div class="pantalla-ajuste-modulos">
      <div class="group-9">
        <div class="btn-alarma">
          <img class="icon-alarma" src="../static/icon/modulos/icon-alarma0.svg" />
        </div>
        <div class="btns-modo-control">
          <img class="btn-incubadora" src="../static/icon/modulos/btn-incubadora0.svg" />
          <img class="btn-cuna" src="../static/icon/modulos/btn-cuna0.svg" />
        </div>
        <div class="encabezado">
          <div class="info-paciente">
            <img class="icon-corazon" src="../static/icon/modulos/icon-corazon0.svg" />
            <div class="nombre-del-beb">Nombre del bebé</div>
          </div>
          <div class="ltimo-peso-0-785-kg">Último peso: 0.785 kg</div>
        </div>
        <div class="fecha-hora">
          <img class="vector" src="../static/icon/modulos/vector0.svg" />
          <div class="_2-de-feb">2 de Feb</div>
          <img class="icon-hora" src="../static/icon/modulos/icon-hora0.svg" />
          <div class="_5-41-a-m">5:41 a.m.</div>
        </div>
        <div class="modo-activo">
          <img class="icon-m-piel" src="../static/icon/modulos/icon-m-piel0.svg" />
          <div class="sistema-controlado-por-piel">
            Sistema Controlado por Piel
          </div>
        </div>
        <div class="inclinaci-n-bacinete">
          <img class="icon-inclinaci-n" src="../static/icon/modulos/icon-inclinaci-n0.svg" />
          <div class="inclinaci-n">Inclinación</div>
          <div class="_00">
            <span>
              <span class="_00-span">00</span>
              <span class="_00-span2">°</span>
            </span>
          </div>
        </div>
      </div>
      <div class="monitoreo-parametros">
        <div class="temp-piel">
          <div class="temperatura-piel">Temperatura Piel</div>
          <div class="frame-2">
            <div class="_36-5">36.5</div>
            <div class="c">°C</div>
          </div>
        </div>
        <div class="temp-programada">
          <div class="temperatura-prog">Temperatura Prog.</div>
          <div class="frame-2">
            <div class="_36-52">36.5</div>
            <div class="c">°C</div>
          </div>
        </div>
        <div class="temp-aire">
          <div class="temperatura-aire">Temperatura Aire</div>
          <div class="frame-2">
            <div class="_36-1">36.1</div>
            <div class="c">°C</div>
          </div>
        </div>
        <div class="temp-auxiliar">
          <div class="temperatura-auxiliar">Temperatura Auxiliar</div>
          <div class="frame-2">
            <div class="_35-2">35.2</div>
            <div class="c">°C</div>
          </div>
        </div>
        <div class="satu-oxigeno">
          <div class="ox-geno">Oxígeno</div>
          <div class="frame-2">
            <div class="_60">60</div>
            <div class="div">%</div>
          </div>
        </div>
      </div>
      <div class="group-10">
        <div class="potencia-calefactura">
          <div class="segmentos-calefactor">
            <div class="rectangle-192"></div>
            <div class="rectangle-191"></div>
            <div class="rectangle-183"></div>
            <div class="rectangle-184"></div>
            <div class="rectangle-185"></div>
            <div class="rectangle-186"></div>
            <div class="rectangle-187"></div>
            <div class="rectangle-188"></div>
            <div class="rectangle-189"></div>
            <div class="rectangle-190"></div>
          </div>
          <div class="potencia-calefactor">
            <div class="_80">80</div>
          </div>
          <div class="div2">%</div>
        </div>
        <div class="menu-modulos">
          <div class="temp-prog-oxigeno">
            <img class="icon-oxigeno" src="../static/icon/modulos/icon-oxigeno0.svg" />
            <div class="temperatura-prog-oxigeno">
              <div class="control-de-ox-geno">Control de Oxígeno</div>
            </div>
          </div>
          <div class="temp-prog-colchon">
            <img class="icon-colchon" src="../static/icon/modulos/icon-colchon0.svg" />
            <div class="temperatura-prog-oxigeno">
              <div class="temperatura-de-colch-n">
                Temperatura
                <br />
                de Colchón
              </div>
            </div>
          </div>
          <div class="humedad-programada">
            <img class="icon-humedad" src="../static/icon/modulos/icon-humedad0.svg" />
            <div class="temperatura-prog-oxigeno">
              <div class="control-de-humedad">Control de Humedad</div>
            </div>
          </div>
          <div class="ajuste-fototerapia">
            <img class="icon-fototerapia" src="../static/icon/modulos/icon-fototerapia0.svg" />
            <div class="fototerapia">
              <div class="fototerapia2">Fototerapia</div>
            </div>
          </div>
          <div class="spo-2">
            <img class="icon-spo-2" src="../static/icon/modulos/icon-spo-20.svg" />
            <div class="perfil-y-ajuste">
              <div class="oximetr-a">Oximetría</div>
            </div>
          </div>
          <div class="perfil-y-ajuste2">
            <img class="icon-ajuste" src="../static/icon/modulos/icon-ajuste0.svg" />
            <div class="perfil-y-ajuste">
              <div class="perfil-y-ajustes">Perfil y ajustes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-principal">
        <div id="btn-m-familiar" class="btn-m-familiar">
          <div class="icon-familiar">
            <img class="group" src="../static/icon/modulos/group0.svg" />
            <img class="vector2" src="../static/icon/modulos/vector1.svg" />
          </div>
        </div>
        <div class="btns-principales">
          <div id="btn-ajuste-temp" class="btn-ajuste-temp">
            <img class="icon-ajuste-temp" src="../static/icon/modulos/icon-ajuste-temp0.svg" />
          </div>
          <div class="icon-control">
            <img class="icon-control2" src="../static/icon/modulos/icon-control1.svg" />
          </div>
          <div class="icon-tendencias">
            <img class="icon-tendencias2" src="../static/icon/modulos/icon-tendencias1.svg" />
          </div>
        </div>
        <div class="btns-bascula-apgar">
          <div class="btn-bascula">
            <div class="icon-bascula">
              <img class="vector3" src="../static/icon/modulos/vector2.svg" />
              <img class="vector4" src="../static/icon/modulos/vector3.svg" />
              <img class="group2" src="../static/icon/modulos/group1.svg" />
            </div>
          </div>
          <div class="icon-apgar">
            <img class="icon-apgar2" src="../static/icon/modulos/icon-apgar1.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const btnHOME = document.getElementById("btn-m-familiar");
    const btnAjusteTemp = document.getElementById("btn-ajuste-temp");
    const btnModulosYAjustes = document.getElementById("btn-modulos-y-ajustes");

    if (btnAjusteTemp) {
      btnAjusteTemp.addEventListener("click", () => {
        console.log("Se hizo click en btn-ajuste-temp");
        window.location.replace("/AjTemp")
      });
    }

    if (btnModulosYAjustes) {
      btnModulosYAjustes.addEventListener("click", () => {
        console.log("Se hizo click en btn-modulos-y-ajustes");
        window.location.replace("/Modulos")
      });
    }

    if (btnHOME) {
      btnHOME.addEventListener("click", () => {
        console.log("Se hizo click en btn-ajuste-temp");
        window.location.replace("/home")
      });
    }
  </script>
</body>
</html>