<div class="pant-prin">
  <div class="rectangle-5"></div>
  <div class="rectangle-3"></div>
  <div class="rectangle-6"></div>

  <div class="frame-30">
    <div class="alarma">ALARMA</div>
  </div>

  <div class="rectangle-43"></div>
  <div class="nombre-del-infante">NOMBRE DEL INFANTE</div>
  <div class="peso-780-g">Peso: 780 g.</div>
  <img class="icon-corazon" src="../static/icon/icon-corazon0.svg" />
  <div class="_13-25-hrs">13:25 hrs.</div>
  <div class="rectangle-69"></div>
  <div class="rectangle-72"></div>
  <div class="rectangle-70"></div>
  <div class="rectangle-73"></div>
  <div class="_36-5">36.5</div>
  <div class="_36-2">36.2</div>
  <div class="_36-52">36.5</div>
  <div class="rectangle-77"></div>
  <div class="rectangle-79"></div>
  <div class="temperatura-piel">TEMPERATURA PIEL</div>
  <div class="temperatura-auxiliar">TEMPERATURA AUXILIAR</div>
  <div class="_36-9">36.9</div>
  <div class="rectangle-76"></div>
  <div class="c">°C</div>
  <div class="c2">°C</div>
  <div class="rectangle-80"></div>
  <div class="temperatura-programada">TEMPERATURA PROGRAMADA</div>
  <div class="colch-n-termico">COLCHÓN TERMICO</div>
  <div class="c3">°C</div>
  <div class="c4">°C</div>
  <div class="_36-0">36.0</div>
  <div class="c5">°C</div>
  <div class="t-programada">T. PROGRAMADA</div>
  <div class="line-6"></div>
  <div class="rectangle-49"></div>
  <div class="rectangle-50"></div>
  <div class="rectangle-51"></div>
  <div class="rectangle-52"></div>
  <div class="rectangle-53"></div>
  <div class="rectangle-81"></div>
  <div class="rectangle-82"></div>
  <div class="rectangle-84"></div>
  <div class="rectangle-85"></div>
  <div class="rectangle-86"></div>
  <div class="humedad">HUMEDAD</div>
  <div class="saturaci-n-de-oxigeno">SATURACIÓN DE OXIGENO</div>
  <div class="frecuencia-cardiaca">FRECUENCIA CARDIACA</div>
  <div class="fototerapia">FOTOTERAPIA</div>
  <div class="oxigeno">OXIGENO</div>
  <div class="_70">70</div>
  <div class="div">%</div>
  <div class="_22">22</div>
  <div class="_97">97</div>
  <div class="_129">129</div>
  <div class="div2">---</div>
  <div class="div3">%</div>
  <div class="div4">%</div>
  <div class="bpm">bpm</div>
  <div class="_90">90</div>
  <div class="_902">90</div>
  <div class="_99">99</div>
  <div class="_200">200</div>

  <div class="btn-15">
    <div class="modulos">Modulos</div>
  </div>

  <div class="btn-16">
    <div class="tendencias">Tendencias</div>
  </div>

  <div class="rectangle-112"></div>
  <div class="rectangle-113"></div>
  <div class="modo-incubadora">MODO INCUBADORA</div>
  <div class="modo-cuna">MODO CUNA</div>
  <div class="rectangle-111"></div>
  <div class="sistema-controlado-por-piel">Sistema Controlado por Piel</div>
  <div class="rectangle-71"></div>
  <div class="_36-1">36.1</div>
  <div class="rectangle-75"></div>
  <div class="temperatura-aire">TEMPERATURA AIRE</div>
  <div class="c6">°C</div>

  <div class="botones-superiores">
    <img class="vector" src="../static/icon/vector0.svg" />
    <img class="group" src="../static/icon/group0.svg" />
  </div>

  <div class="btn-152">
    <div class="ajuste-temp">Ajuste Temp</div>
  </div>

  <img id="btn-fam" class="btn-fam" src="../static/icon/btn-fam0.svg" />
</div>
