<title>Pantalla Inicial</title>

<div class="pant-prin">
  <!-- Barra Superior de Información del Paciente -->
  <div class="frm-Información">
    <div class="rtngl-infoPaciente">
      <img class="icn-crzn" src="{{ url_for('static', filename='icon/icon-corazon0.svg') }}" />
      <div class="nom-infante">NOMBRE DEL INFANTE</div>
      <div class="peso-reg">Peso: 780 g.</div>
    </div>

    <div class="rtngl-rtm">
      <div class="rtm-hrs">13:25 hrs.</div>
    </div>

    <div class="ind-modoIncubadora">
      <div class="modo-incubadora">MODO INCUBADORA</div>
    </div>

    <div class="ind-modoCuna">
      <div class="modo-cuna">MODO CUNA</div>
    </div>
  </div>

  <!-- Panel de Vista Principal -->
  <div class="pnl-Principal">
    <!-- Titulo de la Vista -->
    <div class="title-View">
      <div class="ind-sup">
        <img class="vector" src="{{ url_for('static', filename='icon/vector0.svg') }}" />
        <img class="group" src="{{ url_for('static', filename='icon/group0.svg') }}" />
      </div>
  
      <div class="sist-ctrl-piel">Sistema Controlado por Piel</div>
    </div>

    <!-- Recuadros de Sensores -->
    <div class="rtngl-Sensor">
      <div class="title-Sensor">
        <div class="lbl-Sensor">TEMPERATURA PIEL</div>
      </div>

      <div class="val-Sensor">36.5</div>
      <div class="units-Sensor">°C</div>
    </div>
  
    <!-- Temperatura Programada -->
    <div class="rectangle-69">
      <div class="title-Sensor">
        <div class="lbl-Sensor">TEMPERATURA PROGRAMADA</div>
      </div>

      <div class="val-Sensor">36.5</div>
      <div class="units-Sensor">°C</div>
    </div>
    
    <!-- Temperatura Aire -->
    <div class="rectangle-71">
      <div class="title-Sensor">
        <div class="lbl-Sensor">TEMPERATURA AIRE</div>
      </div>

      <div class="val-Sensor">36.1</div>
      <div class="units-Sensor">°C</div>
    </div>

    <!-- Temperatura Auxiliar -->
    <div class="rectangle-73">
      <div class="title-Sensor">
        <div class="lbl-Sensor">TEMPERATURA AUXILIAR</div>
      </div>

      <div class="val-Sensor">36.2</div>
      <div class="units-Sensor">°C</div>
    </div>

    <!-- Colchón Térmico -->
    <div class="rectangle-72">
      <div class="title-Sensor">
        <div class="lbl-Sensor">COLCHÓN TERMICO</div>
      </div>

      <div class="tem-colTerm">36.9</div>
      <div class="units-colTerm">°C</div>

      <div class="line-div"></div>

      <div class="tem-progrCol">36.0</div>
      <div class="units-t-ProgcolTerm">°C</div>
      
      <div class="t-progrCol">T. PROGRAMADA</div>
    </div>
  </div>




  <div class="rectangle-49"></div>
  <div class="rectangle-50"></div>
  <div class="rectangle-51"></div>
  <div class="rectangle-52"></div>
  <div class="rectangle-53"></div>

  <div class="rectangle-81"></div>
  <div class="rectangle-82"></div>
  <div class="rectangle-84"></div>
  <div class="rectangle-85"></div>
  <div class="rectangle-86"></div>



  <div class="humedad">HUMEDAD</div>
  <div class="saturaci-n-de-oxigeno">SATURACIÓN DE OXIGENO</div>
  <div class="frecuencia-cardiaca">FRECUENCIA CARDIACA</div>
  <div class="fototerapia">FOTOTERAPIA</div>
  <div class="oxigeno">OXIGENO</div>
  <div class="_70">70</div>
  <div class="div">%</div>
  <div class="_22">22</div>
  <div class="_97">97</div>
  <div class="_129">129</div>
  <div class="div2">---</div>
  <div class="div3">%</div>
  <div class="div4">%</div>
  <div class="bpm">bpm</div>
  <div class="_90">90</div>
  <div class="_902">90</div>
  <div class="_99">99</div>
  <div class="_200">200</div>
  
  


  

  

  <div class="btns-Footer">
    <img id="btn-fam" class="btn-fam" src="{{ url_for('static', filename='icon/btn-fam0.svg') }}" />

    <div class="btn-152">
      <div class="ajuste-temp">Ajuste Temp</div>
    </div>
  
    <div class="btn-15">
      <div class="modulos">Modulos</div>
    </div>
  
    <div class="btn-16">
      <div class="tendencias">Tendencias</div>
    </div>
  </div>

</div>