<title>Pantalla Inicial</title>

<div class="pant-prin">
  <!-- Barra Superior de Información del Paciente -->
  <div class="frm-Información">
    <div class="rtngl-infoPaciente">
      <img class="icn-crzn" src="{{ url_for('static', filename='icon/icon-corazon0.svg') }}" />
      <div class="nom-infante">NOMBRE DEL INFANTE</div>
      <div class="peso-reg">Peso: 780 g.</div>
    </div>

    <div class="rtngl-rtm">
      <div class="rtm-hrs">13:25 hrs.</div>
    </div>

    <div class="ind-modoIncubadora">
      <div class="modo-incubadora">MODO INCUBADORA</div>
    </div>

    <div class="ind-modoCuna">
      <div class="modo-cuna">MODO CUNA</div>
    </div>
  </div>

  <!-- Panel de Vista Principal -->
  <div class="pnl-Principal">
    <!-- Titulo de la Vista -->
    <div class="title-View">
      <div class="ind-sup">
        <img class="vector" src="{{ url_for('static', filename='icon/vector0.svg') }}" />
        <img class="group" src="{{ url_for('static', filename='icon/group0.svg') }}" />
      </div>
  
      <div class="sist-ctrl-piel">Sistema Controlado por Piel</div>
    </div>

    <!-- Paneles de Sensores Principales -->
    <!-- Temperatura de Piel -->
    <div class="panel t-piel">
      <div class="title-Sensor">
        <div class="lbl-Sensor">TEMPERATURA PIEL</div>
      </div>

      <div class="val-Sensor">36.5</div>
      <div class="units-Sensor">°C</div>
    </div>
  
    <!-- Temperatura Programada -->
    <div class="panel t-prog">
      <div class="title-Sensor">
        <div class="lbl-Sensor">TEMPERATURA PROGRAMADA</div>
      </div>

      <div class="val-Sensor">36.5</div>
      <div class="units-Sensor">°C</div>
    </div>
    
    <!-- Temperatura Aire -->
    <div class="panel t-aire">
      <div class="title-Sensor">
        <div class="lbl-Sensor">TEMPERATURA AIRE</div>
      </div>

      <div class="val-Sensor">36.1</div>
      <div class="units-Sensor">°C</div>
    </div>

    <!-- Temperatura Auxiliar -->
    <div class="panel t-aux">
      <div class="title-Sensor">
        <div class="lbl-Sensor">TEMPERATURA AUXILIAR</div>
      </div>

      <div class="val-Sensor">36.2</div>
      <div class="units-Sensor">°C</div>
    </div>

    <!-- Colchón Térmico -->
    <div class="panel t-colchon">
      <div class="title-Sensor">
        <div class="lbl-Sensor">COLCHÓN TERMICO</div>
      </div>

      <div class="tem-colTerm">36.9</div>
      <div class="units-colTerm">°C</div>

      <div class="line-div"></div>

      <div class="tem-progCol">36.0</div>
      <div class="units-t-ProgcolTerm">°C</div>
      
      <div class="t-progCol">T. PROGRAMADA</div>
    </div>

    <!-- Paneles de Sensores Principales -->
    <!-- Oxigeno -->
    <div class="panel-sec snsOx">
      <div class="title-sns2">
        <div class="lbl-sns2">OXIGENO</div>
      </div>

      <div class="val-sns2">22</div>
      <div class="units-sns2">%</div>
    </div>

    <!-- Humedad -->
    <div class="panel-sec snsHum">
      <div class="title-sns2">
        <div class="lbl-sns2">HUMEDAD</div>
      </div>

      <div class="val-sns2">70</div>
      <div class="units-sns2">%</div>
    </div>

    <!-- Saturación de Oxigeno -->
    <div class="panel-sec satOx">
      <div class="title-sns2">
        <div class="lbl-sns2">SATURACIÓN DE OXIGENO</div>
      </div>
      
      <div class="val-sns2">97</div>
      <div class="units-sns2">%</div>

      <div class="val-sns3">99</div>
      <div class="val-sns4">90</div>
    </div>

    <!-- Frecuencia Cardiaca -->
    <div class="panel-sec freccCard">
      <div class="title-sns2">
        <div class="lbl-sns2">FRECUENCIA CARDIACA</div>
      </div>

      <div class="val-sns2">129</div>
      <div class="units-sns3">bpm</div>
      <div class="val-sns3">200</div>
      <div class="val-sns4">90</div>
    </div>

    <!-- Fototerapia -->
    <div class="panel-sec foto">
      <div class="title-sns2">
        <div class="lbl-sns2">FOTOTERAPIA</div>
      </div>

      <div class="val-sns2">---</div>
    </div>
  </div>

  <div class="btns-Footer" data-footer>
    <img id="btn-fam" class="btn-fam" src="{{ url_for('static', filename='icon/btn-fam0.svg') }}" />

    <div class="btns-inf ajst-Temp">
      <div class="lbl-btnsInf">Ajuste Temp</div>
    </div>
  
    <div class="btns-inf modulos">
      <div class="lbl-btnsInf">Modulos</div>
    </div>
  
    <div class="btns-inf tendencias">
      <div class="lbl-btnsInf">Tendencias</div>
    </div>
  </div>
</div>